</div>
  </body>
  	<link rel="stylesheet" type="text/css" href="/css/style.css">
  	<script src="js/angular.min.js"></script>
  	<script src="js/xeditable.js"></script>
	<script src="js/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
</html>